$primary-colour: #4b9ce3;
$secondary-colour: #2578c2;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.paged {

}

  .paged__controls {
    margin: 0;
    padding: 0;
  }

  .paged__control-item {
    display: inline-block;
    padding: 6px 12px;
  }

  .paged__control-link {
    display: block;
    padding: 6px 12px;
    border: 3px solid $primary-colour;
    border-radius: 4px;
    cursor: pointer;
    color: $primary-colour;
    background-color: #fff;

    transition: all 0.3s;

    &:hover,
    &--active {
      color: #fff;
      background-color: $primary-colour;
    }

    &--disabled {
      border-color: #ccc;
      background-color: #efefef;
      color: #ccc;
    }
  }
